.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
.yarn/**
images/demo.gif

node_modules/
!node_modules/@autometrics/**
!node_modules/typescript/**
